@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color:rgb(240, 240, 247);
    background-image: radial-gradient(rgb(203, 211, 247) 15%, transparent 16%),
    radial-gradient(rgb(232, 236, 247) 15%, transparent 16%);
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px;
}
.container{
    width: 100%;
    height: 50%;
    /* border: 3px solid black; */
}
.container img{
    /* border: 3px solid black; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    max-width: 300px;
    width: 25%;
    box-shadow: rgba(36, 34, 34, 0.4) 0px 30px 90px;
    border-radius: 50%;
    /* border: 2px solid black; */
    transition: transform .2s;
}
.container img:hover {
    transform: scale(0.9);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 50%;
}

.voicetext{
    padding: 50px;
    font-size: 1.2rem;
    display: flex;
    margin-left: 100px;
    /* margin-right: auto; */
    width: 20%;
    height: 5%;
    background-color: rgb(166, 193, 255);
    border: 1px solid rgb(37, 36, 36);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-family: 'Roboto Mono', monospace;
}

.animation {
    position: relative;
    min-height: 200px;
  }
  

  
  .logo {
    fill: #1ed760;
  }
  
  .sound-waves {
    fill: #56adff;
  }
  
  @keyframes expand-1 {
    10% {
      transform: translate3d(-50%, -50%, 0) scale(1.3);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) scale(1);
      opacity: 0;
    }
  }
  @keyframes expand-2 {
    10% {
      transform: translate3d(-50%, -50%, 0) scale(1.8);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) scale(1);
      opacity: 0;
    }
  }
  .circle-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -1;
  }
  .circle-1:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    animation: expand-1 2s infinite;
    background-color: #c7cfdd;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0.01);
    transform-origin: 50% 60%;
  }
  
  .circle-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -1;
  }
  .circle-2:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    animation: expand-2 2s infinite;
    animation-delay: 0.1s;
    background-color: #d7dde7;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0.01);
    transform-origin: 50% 50%;
  }
  
  .copy {
    font-weight: 200;
    letter-spacing: 0.02em;
    position: relative;
    bottom: -120px;
    color: rgba(244, 246, 248, 0.815);
  }
  
  .copy:after {
    margin-left: 1px;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    animation: ellipsis steps(4, end) 1.5s infinite;
    content: "…";
    /* ascii code for the ellipsis character */
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 16px;
    }
  }