html,body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 80%;
    border: 2px solid black;
}
.container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    max-width: 500px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 50%;
}


