html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color:rgb(240, 240, 247);
    background-image: radial-gradient(rgb(203, 211, 247) 15%, transparent 16%),
    radial-gradient(rgb(232, 236, 247) 15%, transparent 16%);
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px;
}
.container{
    width: 100%;
    height: 80%;
}
.container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    max-width: 300px;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 50%;
    transition: transform .2s;
}
.container img:hover {
    transform: scale(0.9);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 50%;
}
